.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.placeholder {
  width: 200px;
  height: 300px;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
